<header class="site-header" role="banner">
    <a href="{{ site.baseurl }}/" class="brand">
      <span class="site-title">Stew<b>ART</b>works Foundation</span>
    </a>
    <nav class="site-nav" id="site-nav" role="navigation" aria-hidden="false">
      <ul class="nav">
        <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
        <li><a href="{{ site.baseurl }}/resources/">Resources</a></li>
        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        <li><a href="{{ site.baseurl }}/support/">Support</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
      </ul>
    </nav>
    <button type="button" class="site-nav-control open-site-nav" id="site-nav-control"></button>
</header>
