.site-footer{
  margin-top: 4rem;
  padding-bottom: 2rem;

  .brand{
    font-size: 1.125rem;
    color: $font-color;
  }
}

.contact{

  @media screen and (#{$bp-larger-than-tablet}){
    float: left;
    width: calc(70% - 2rem);
  }
}

.engage{
  margin-top: 2.5rem;

  @media screen and (#{$bp-larger-than-tablet}){
    float: left;
    width: 30%;
    margin-top: 0;
    text-align: right;
  }

  .social{
    li{
      margin-right: 1rem;

      @media screen and (#{$bp-larger-than-tablet}){
        margin-left: 1rem;
        margin-right: 0;
      }
    }
  }
}
