
.gallery-images{
  list-style: none;
  margin-top: 1rem;
  margin-left: -2rem;
  padding: 0;

  li{
    display: inline-block;
    width: calc(100% - 2rem);
    height: 14rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    overflow: hidden;
    transition: .2s ease opacity;
    cursor: pointer;

    @media screen and (#{$bp-larger-than-phablet}){
      width: calc(49% - 2rem);
      height: 12rem;
    }

    @media screen and (#{$bp-larger-than-tablet}){
      width: calc(33% - 2rem);
      height: 10rem;
    }

    @media screen and (#{$bp-larger-than-desktop}){
      height: 12rem;
    }

    &:hover{
      opacity: .6;
    }
  }

  img{
    width: 100%;
    height: auto;
  }
}

.content-wrapper{
  display: flex;
  flex-wrap: wrap;

  .image{
    width: 100%;

    @media screen and (#{$bp-larger-than-tablet}){
      width: 40%;
    }

    img{
      max-width: 100%;
      height: auto;
    }
  }

  .text{
    width: 100%;
    padding-bottom: 2rem;

    @media screen and (#{$bp-larger-than-tablet}){
      width: calc(60% - 2rem);
      margin-left: 2rem;
    }

    h2{
      letter-spacing: 0;
      text-transform: none;
    }

  }
}
