.hero{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  .container{
    margin-top: 0;
    overflow: visible;

    @media screen and (#{$bp-larger-than-tablet}){
      height: 24rem;
    }
  }

  .hero-cta{
    margin: auto;
    padding: 2rem;
    background-color: $primary-color;
    color: $white;
    font-weight: 300;


    @media screen and (#{$bp-larger-than-tablet}){
      position: absolute;
      bottom: -2rem;
      right: 2rem;
      width: 30rem;
    }

    p{
      font-size: 1.875rem;
      line-height: 1.2;
      letter-spacing: 1px
    }

    .cta{
      color: $white;
    }
  }

  .hero-caption{
    position: absolute;
    bottom: -1.5rem;
    left: 2rem;
    font-size: .8125rem;
    font-style: italic;
    color: $dark-grey;
  }
}
