---
layout: base
---

<article class="page-content article">
  <div class="container">
    <header>
      {% if page.section %}
        <a href="#" class="section-label">{{ page.section }}</a>
      {% endif %}
      <h1>{{ page.title }}</h1>
      {% if page.description %}
        <p class="page-description">{{ page.description }}</p>
      {% endif %}
      {% if page.meta %}
        <p class="article-meta">{{ page.meta }}</p>
      {% endif %}
      {% include share-buttons.html %}
    </header>
    {{ content }}
  </div>
</article>
