---
layout: base
---

<style>
  /*.page-illustration{
    background-image: url({{ site.baseurl }}/assets/img/gallery/1011604_10202590492417798_1343626693989322325_n.jpg)
  }*/
</style>
<article class="page-content article illustrated">
  <hr class="page-illustration">
  <div class="container">
    <header>
      {% if page.section %}
        <a href="#" class="section-label">{{ page.section }}</a>
      {% endif %}
      <h1>{{ page.title }}</h1>
      {% if page.description %}
        <p class="page-description">{{ page.description }}</p>
      {% endif %}
      {% if page.meta %}
        <p class="article-meta">{{ page.meta }}</p>
      {% endif %}
      {% include share-buttons.html %}
    </header>
    {{ content }}
  </div>
</article>
