<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title != "Home" %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,400i,700|Oswald" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  {% include alert.html %}
  <main class="site-content" role="main">
    {{ content }}
  </main>
  {% include footer.html %}

  {% if page.title == 'Gallery' %}
    {% include gallery-scripts.html %}
  {% endif %}
  <script>
    //handles the site navigation

    (function(){
    var menu = document.getElementById('site-nav');
    var menu_control = document.getElementById('site-nav-control');

    //check if menu_control is visible or not and set aria attribute
    var menu_init = function(){
      if (menu_control.offsetParent == null){
        menu.setAttribute('aria-hidden', 'false');
      }
      else{
        menu.setAttribute('aria-hidden', 'true');
      }
    }

    //when window is resized clean up mobile nav
    var menu_window_resize = function(){
      if (menu_control.offsetParent == null){
        menu.setAttribute('aria-hidden', 'false');
        menu.classList.remove('open');
        menu_control.classList.add('open-site-nav');
        menu_control.classList.remove('close-site-nav');
      }
      else{
        menu.setAttribute('aria-hidden', 'true');
      }
    }

    //handling when the menu is open and closed
    var toggle_menu = function(){
      menu.classList.toggle('open');

      if (menu.getAttribute('aria-hidden') == 'false'){
        menu.setAttribute('aria-hidden', 'true');
      }
      else{
        menu.setAttribute('aria-hidden', 'false');
      }
      menu_control.classList.toggle('open-site-nav');
      menu_control.classList.toggle('close-site-nav');
    }

    //initialization
    menu_init();

    //resize
    window.addEventListener('resize', menu_window_resize, false);

    //click
    menu_control.onclick = function(event){
      toggle_menu();
    }

    })();
    </script>
</body>
</html>
